In [ ]:
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

### Series

In [ ]:
obj = Series([1, 2, 3, 4])
obj

In [ ]:
obj.values

In [ ]:
obj.index

In [ ]:
obj2 = Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
obj2

In [ ]:
obj2['b']

In [ ]:
obj2['d'] = 6
obj2

In [ ]:
obj2[['c', 'a', 'd']]

In [ ]:
obj2[obj2 > 2]

In [ ]:
obj2 * 2

In [ ]:
np.exp(obj2)

In [ ]:
'b' in obj2

In [ ]:
sdata = {'Ohio': 3500, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
obj3 = Series(sdata)
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

In [ ]:
obj4.isnull()

In [ ]:
obj4.notnull()

In [ ]:
print obj3
print obj4

In [ ]:
obj3 + obj4   # 缺失数据自动对齐

In [ ]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

In [ ]:
obj

In [ ]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

### DataFrame

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', "Nevada", 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
frame

In [ ]:
DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                  index=['one', 'two', 'three', 'four', 'five'])
frame2

In [ ]:
frame2.columns

In [ ]:
frame2['state']

In [ ]:
frame2.year

In [ ]:
frame2.year['one']

In [ ]:
frame2.year.index

In [ ]:
frame2.ix['three']

In [ ]:
frame2.loc['three']

In [ ]:
frame2.iloc[0]

In [ ]:
type(frame2.loc['three'])

In [ ]:
type(frame2.year)

In [ ]:
print frame2.loc['three'].pop

In [ ]:
frame2.loc['three']['pop']

In [ ]:
frame2

In [ ]:
frame2['debt'] = 16.5
frame2

In [ ]:
frame2['debt'] = np.arange(5.)
frame2

In [ ]:
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2.debt = val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']
frame2

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
      'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
DataFrame(pop, index=[2001, 2002, 2003])

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:-1],
        'Nevada': frame3['Nevada'][:2]}
DataFrame(pdata)

In [ ]:
frame3

In [ ]:
frame3.index.name = 'year'
frame3.columns.name = 'state'
frame3

In [ ]:
frame3.values

In [ ]:
frame2

In [ ]:
frame2.values

### 索引对象

In [ ]:
obj = Series(range(3), index=('a', 'b', 'c'))
index = obj.index
index

In [ ]:
index[1:]

In [ ]:
index[1] = 'd'

In [ ]:
print id(index[1:][0])
print id(obj.index[1])

In [ ]:
index = pd.Index(np.arange(3))
obj2 = Series([1.5, -2.5, 0], index=index)
obj2.index is index

In [ ]:
obj

In [ ]:
frame3

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2003 in frame3.index

In [ ]:
frame3.index

### 重新索引

In [ ]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

In [ ]:
obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)

In [ ]:
obj3 = Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3.reindex(range(6), method='ffill')

In [ ]:
frame = DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'],
                 columns=['Ohio', 'Texas', 'California'])
frame

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

In [ ]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)
frame

In [ ]:
frame.ix[['a', 'b', 'c', 'd'], states]

### 丢弃指定轴上的项

In [ ]:
obj = Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
obj
new_obj = obj.drop('c')
obj
new_obj

In [ ]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                index=['Ohio', 'Colorado', 'Utah', 'New York'],
                columns=['one', 'two', 'three', 'four'])
data
data.drop(['Colorado', 'Ohio'])

### 索引、选取和过滤

In [ ]:
obj = Series(np.arange(4), index=['a', 'b', 'c', 'd'])
obj
obj['b']
obj[1]
obj[2:4]
obj[['b', 'a', 'd']]
obj[[1, 3]]
obj[obj < 2]

In [ ]:
obj['b':'c']   # 利用标签进行切片时，末端是包含的（inclusive）

In [ ]:
obj['b':'c'] = 5
obj

In [ ]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New york'],
                columns=['one', 'two', 'three', 'four'])
data
data[1:2]
data['two']
data.two
data.two.Ohio
data.two['Ohio']
data[['three', 'one']]

In [ ]:
# 切片或者布尔型数组可以选取行
data[:2]
data[data['three'] > 5]

In [ ]:
data < 5
data[data < 5] = 0
data

In [ ]:
data
data.ix['Colorado', ['two', 'three']]
data.ix[['Colorado', 'Utah'], [3, 0, 1]]

In [ ]:
data.ix[2]
data[2:3]

In [ ]:
data.ix[:'Utah', 'two']

In [ ]:
data
data.ix[data.three > 5, :3]

### 算数运算和数据对齐

In [ ]:
s1 = Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
s1
s2

In [ ]:
s1 + s2
s1 * s2

In [ ]:
df1 = DataFrame(np.arange(9).reshape((3, 3)), 
               columns=list('bcd'),
               index=['Ohio', 'Texas', 'Colorado'])
df2 = DataFrame(np.arange(12).reshape((4, 3)), 
               columns=list('bde'),
               index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df1
df2

In [ ]:
df1 + df2
df1.add(df2, fill_value=0)

In [ ]:
df1.reindex(columns=df2.columns, fill_value=0)

### DataFrame和Series之间的运算

In [ ]:
arr = np.arange(12).reshape((3, 4))
arr
arr[0]
arr - arr[0]

In [ ]:
frame = DataFrame(np.arange(12).reshape((4, 3)), columns=list('bde'),
                 index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series = frame.ix[0]
frame
series
frame.loc['Utah']

In [ ]:
frame - series

In [ ]:
series2 = Series(range(3), index=list('bef'))
frame
series2
frame + series2

In [ ]:
series3 = frame['d']
frame.sub(series3, axis=0)

### 函数应用和映射

In [ ]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'), 
                 index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame
np.abs(frame)

In [ ]:
frame.apply(lambda x: x.max() - x.min())
frame.apply(lambda x: x.max() - x.min(), axis=1)

In [ ]:
def f(x):
    return Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

In [ ]:
format = lambda x: '%.2f' % x
frame.applymap(format)

In [ ]:
frame['e'].map(format)

### 排序和排名

In [ ]:
obj = Series(range(4), index=list('dabc'))
obj.sort_index()
obj

In [ ]:
frame = DataFrame(np.arange(8).reshape((2, 4)), 
                 index=['three', 'one'],
                 columns=list('dabc'))
frame
frame.sort_index()
frame.sort_index(axis=1)
frame.sort_index().sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, ascending=False)

In [ ]:
# 如果对值进行排序，使用order方法
obj = Series([4, 7, -3, 2])
obj.sort_values(ascending=False)
obj

In [ ]:
obj = Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()

In [ ]:
frame = DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame
frame.sort_index(by='b')
frame.sort_index(by=['a', 'b'])
frame.sort_index(by=['b', 'a'])

In [ ]:
obj = Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()   # ????

### 带有重复值的轴索引

In [ ]:
obj = Series(range(5), index=list('aabbc'))
obj

In [ ]:
obj.index.is_unique

In [ ]:
obj['a']
obj['c']

In [ ]:
df = DataFrame(np.random.randn(4, 3), index=list('aabb'))
df
df.ix['b']

### 汇总和计算描述统计

In [ ]:
df = DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]],
              index=list('abcd'),
              columns=['one', 'two'])
df

In [ ]:
df.sum()
df.sum(axis=1)

In [ ]:
df.mean(axis=1)
df.mean(axis=1, skipna=False)

In [ ]:
df
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

### 相关系数和协方差

In [ ]:
# import pandas.io.data as web
from pandas_datareader import data as web

### 唯一值、值计数以及成员资格

In [ ]:
obj = Series(list('cadaabbcc'))
uniques = obj.unique()
uniques
obj.value_counts()
pd.value_counts(obj.values, sort=False)

In [ ]:
mask = obj.isin(['b', 'c'])
mask
obj[mask]

In [ ]:
data = DataFrame({'Qu1': [1, 3, 4, 3, 4],
                 'Qu2': [2, 3, 1, 2, 3],
                 'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts).fillna(0)
result

### 处理缺失数据

In [ ]:
string_data = Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data
string_data.isnull()

In [ ]:
string_data[0] = None
string_data.isnull()

### 滤除确实数据

In [ ]:
from numpy import nan as NA
data = Series([1, NA, 3.5, NA, 7])
data.dropna()
data

In [ ]:
data[data.notnull()]
data

In [ ]:
# 对于DataFrame，dropna默认是丢弃所有包含NA的行
data = DataFrame([[1, 6.5, 3.], [1, NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
data
cleaned

In [ ]:
data.dropna(how='all')

In [ ]:
data[4] = NA
data
data.dropna(axis=1, how='all')

In [ ]:
df = DataFrame(np.random.randn(7, 3))
df
df.ix[:4, 1] = NA
df
df.ix[:2, 2] = NA
df
df.dropna(thresh=3)
df.dropna(thresh=2)

### 填充确实数据

In [ ]:
df.fillna(0)

In [ ]:
df.fillna({1: 0.5, 3: -1})

In [ ]:
df.fillna(0, inplace=True)
df

In [ ]:
df = DataFrame(np.random.randn(6, 4))
df.ix[2:, 1] = NA
df.ix[4:, 2] = NA
df
df.fillna(method='ffill')
df.fillna(method='ffill', limit=2)

In [ ]:
data = Series([1, NA, 3.5, NA, 7])
data.fillna(data.mean())

### 层次化索引

In [ ]:
data = Series(np.random.randn(10),
              index=[list('aaabbbccdd'), [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])
data

In [ ]:
data.index

In [ ]:
data['b']

In [ ]:
data['b':'c']

In [ ]:
data.ix[['b', 'd']]
data[['b', 'd']]

In [ ]:
data[:, 2]

In [ ]:
data.unstack()
data

In [ ]:
data.unstack().stack()

In [ ]:
frame = DataFrame(np.arange(12).reshape((4, 3)),
                 index=[list('aabb'), [1, 2, 1, 2]],
                 columns=[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
frame

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

In [ ]:
frame['Ohio']

### 重排分级顺序

In [ ]:
frame

In [ ]:
frame.swaplevel('key1', 'key2')

In [ ]:
frame
frame.sortlevel(1)
frame.swaplevel(0, 1)
frame.swaplevel(0, 1).sortlevel(0)

### 根据级别汇总统计

In [ ]:
frame
frame.sum(level='key2')

In [ ]:
frame.sum(level='color', axis=1)

### 使用DataFrame的列

In [ ]:
frame = DataFrame({'a': range(7), 'b':range(7, 0, -1),
                  'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
                  'd': [0, 1, 2, 0, 1, 2, 3]})
frame

In [ ]:
frame2 = frame.set_index(['c', 'd'])   # 将某些列转换成行索引
frame2
frame.set_index(['c', 'd'], drop=False)

In [ ]:
frame2.reset_index()

### 整数索引

In [ ]:
ser = Series(np.arange(3.))
ser[-1]
# 无法判定是基于标签还是基于位置的索引。默认都是根据标签的，而这里并没有-1的标签，因此抛出错误

In [ ]:
ser2 = Series(np.arange(3), index=list('abc'))
ser2[-1]

In [ ]:
ser
ser[:1]

In [ ]:
ser3 = Series(range(3), index=[-5, 1, 3])
ser3[:-1]

### 面板数据