In [ ]:
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

## 合并数据集

### 数据库风格的DataFrame合并

In [ ]:
df1 = DataFrame({'key': list('bbacaab'), 'data1': range(7)})
df2 = DataFrame({'key': list('abd'), 'data2': range(3)})
df1
df2

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, on='key')

In [ ]:
df3 = DataFrame({'lkey': list('bbacaab'), 'data1': range(7)})
df4 = DataFrame({'rkey': list('abd'), 'data2': range(3)})
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
df1 = DataFrame({'key': list('bbacab'), 'data1': range(6)})
df2 = DataFrame({'key': list('ababd'), 'data2': range(5)})
df1
df2
pd.merge(df1, df2, on='key', how='left')
pd.merge(df1, df2, on='key', how='right')

In [ ]:
df1
df2
pd.merge(df1, df2, how='inner')

In [ ]:
left = DataFrame({'key1': ['foo', 'foo', 'bar'],
                 'key2': ['one', 'two', 'one'],
                 'lval': [1, 2, 3]})
left
right = DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                  'key2': ['one', 'one', 'one', 'two'],
                  'rval': [4, 5, 6, 7]})
right
pd.merge(left, right, on=['key1', 'key2'], how='outer')

### 索引上的合并

In [ ]:
left1 = DataFrame({'key': list('abaabc'), 'value': range(6)})
right1 = DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])
left1
right1

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True)

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True, how='outer')

In [ ]:
lefth = DataFrame({'key1': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 
                  'key2': [2000, 2001, 2002, 2001, 2002],
                  'data': np.arange(5.)})
righth = DataFrame(np.arange(12).reshape((6, 2)), 
                   index=[['Nevada', 'Nevada', 'Ohio', 'Ohio', 'Ohio', 'Ohio'],
                         [2001, 2000, 2000, 2000, 2001, 2002]],
                  columns=['event1', 'event2'])
lefth
righth

In [ ]:
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True)

In [ ]:
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True, how='outer')

In [ ]:
left2 = DataFrame([[1., 2.], [3., 4.], [5., 6.]],
                 index=list('ace'),
                 columns=['Ohio', 'Nevada'])
right2 = DataFrame([[7., 8.], [9., 10], [11., 12.], [13, 14]],
                  index=list('bcde'),
                  columns=['Missouri', 'Alabama'])
left2
right2

In [ ]:
pd.merge(left2, right2, how='outer', left_index=True, right_index=True)

In [ ]:
left2.join(right2, how='outer')

In [ ]:
left1
right1
left1.join(right1, on='key')

In [ ]:
another = DataFrame([[7., 8], [9, 10], [11, 12], [16, 17]],
                   index=list('acef'), 
                   columns=['New York', 'Oregon'])
left2
right2
another
left2.join([right2, another])

### 轴向连接

In [ ]:
arr = np.arange(12).reshape((3, 4))
arr

In [ ]:
np.concatenate([arr, arr])
np.concatenate([arr, arr], axis=1)

In [ ]:
s1 = Series([0, 1], index=['a', 'b'])
s2 = Series([2, 3, 4], index=list('cde'))
s3 = Series([5, 6], index=list('fg'))
s1
s2
s3

In [ ]:
pd.concat([s1, s2, s3])

In [ ]:
pd.concat([s1, s2, s3], axis=1)

In [ ]:
s1
s3
s4 = pd.concat([s1*5, s3])
s4
pd.concat([s1, s4], axis=1)
pd.concat([s1, s4], axis=1, join='inner')

In [ ]:
pd.concat([s1, s4], axis=1, join_axes=[list('acbe')])

In [ ]:
result = pd.concat([s1, s1, s3], keys=['one', 'two', 'three'])
result
pd.concat([s1, s1, s3])

In [ ]:
result.unstack()

In [ ]:
pd.concat([s1, s2, s3], axis=1, keys=['one', 'two', 'three'])

In [ ]:
df1 = DataFrame(np.arange(6).reshape(3, 2), index=list('abc'),
               columns=['one', 'two'])
df2 = DataFrame(5 + np.arange(4).reshape(2, 2), 
               index=list('ac'),
               columns=['three', 'four'])
df1
df2
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'])

In [ ]:
pd.concat({'level1': df1, 'level2': df2}, axis=1)

In [ ]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'], names=['upper', 'lower'])

In [ ]:
df1 = DataFrame(np.random.randn(3, 4), columns=list('abcd'))
df2 = DataFrame(np.random.randn(2, 3), columns=list('bda'))
df1
df2
pd.concat([df1, df2])
pd.concat([df1, df2], ignore_index=True)

### 合并重叠数据

In [ ]:
a = Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan], index=list('fedcba'))
b = Series(np.arange(len(a), dtype=np.float64), index=list('fedcba'))
a
b[-1] = np.nan
b
np.where(pd.isnull(a), b, a)   # 用于表达一种矢量化的if-else

In [ ]:
b[:-2].combine_first(a[2:])

## 重塑与轴向旋转

### 重塑层次化索引

In [ ]:
data = DataFrame(np.arange(6).reshape((2, 3)),
                index=pd.Index(['Ohio', 'Colorado'],
                              name='state'),
                columns=pd.Index(['one', 'two', 'three'],
                                name='number'))
data

In [ ]:
result = data.stack()
result

In [ ]:
result.unstack()

In [ ]:
result
result.unstack(0)

In [ ]:
result.unstack('state')

In [ ]:
s1 = Series([0, 1, 2, 3], index=list('abcd'))
s2 = Series([4, 5, 6], index=list('cde'))
data2 = pd.concat([s1, s2], keys=['one', 'two'])
data2
data2.unstack()

In [ ]:
data2.unstack().stack()

In [ ]:
data2.unstack().stack(dropna=False)

In [ ]:
df = DataFrame({'left': result, 'right': result + 5}, 
              columns=pd.Index(['left', 'right'], 
                              name='side'))
df

In [ ]:
df.unstack('state')

### 将“长格式”旋转为“宽格式”

## 数据转换

### 移除重复数据

In [ ]:
data = DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 
                 'k2': [1, 1, 2, 3, 3, 4, 4]})
data

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

In [ ]:
data['v1'] = range(7)
data.drop_duplicates(['k1'])

### 利用函数或映射进行数据转换

In [ ]:
data = DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami', 'corned beef', 'Bacon', 'pastrami', 'honey ham', 'nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

In [ ]:
data['food'].map(lambda x: meat_to_animal[x.lower()])
data

### 替换值

In [ ]:
data = Series([1, -999, 2, -999, -1000, 3])
data.replace(-999, np.nan)
data

In [ ]:
data.replace([-999, -1000], np.nan)

In [ ]:
data.replace([-999, -1000], [np.nan, 0])

In [ ]:
data.replace({-999: np.nan, -1000: 0})

### 重命名轴索引

In [ ]:
data = DataFrame(np.arange(12).reshape((3, 4)), 
                index=['Ohio', 'Colorado', 'New York'],
                columns=['one', 'two', 'three', 'four'])
data
data.index.map(str.upper)

In [ ]:
data.index = data.index.map(str.upper)
data

In [ ]:
data.rename(index=str.title, columns=str.upper)
data

In [ ]:
data.rename(index={'OHIO': 'INDIANA'},
           columns={'three': 'peekaboo'})
data

In [ ]:
data.rename(index={'OHIO': 'INDIANA'}, inplace=True)
data

### 离散化和面元划分

In [ ]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

In [ ]:
cats.labels
# cats.levels

In [ ]:
pd.value_counts(cats)

In [ ]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

In [ ]:
data = np.random.rand(20)
pd.cut(data, 4, precision=2)

In [ ]:
data = np.random.randn(1000)
cats = pd.qcut(data, 4)  #  按四分位数进行切割
cats
pd.value_counts(cats)

In [ ]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])

### 检测和过滤异常值

In [ ]:
np.random.seed(12345)
data = DataFrame(np.random.randn(1000, 4))
data
data.describe()

In [ ]:
col = data[3]
col[np.abs(col) > 3]

In [ ]:
data[(np.abs(data) > 3).any(axis=1)]

In [ ]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

### 排列和随机采样

In [ ]:
df = DataFrame(np.arange(5 * 4).reshape(5, 4))
sampler = np.random.permutation(5)
sampler

In [ ]:
df
df.take(sampler)

In [ ]:
df.take(np.random.permutation(len(df))[:3])   # 随机取三行

In [ ]:
bag = np.array([5, 7, -1, 6, 4])
sampler = np.random.randint(0, len(bag), size=10)
sampler

In [ ]:
draws = bag.take(sampler)
draws

### 计算指标／哑变量

In [ ]:
df = DataFrame({'key': list('bbacab'), 
               'data1': range(6)})
df
pd.get_dummies(df['key'])

In [ ]:
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

In [ ]:
df['data1']
df.data1
df[['data1']]
type(df['data1'])
type(df[['data1']])

In [ ]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('pydata-book/ch02/movielens/movies.dat', 
                       sep='::', header=None, names=mnames)
movies[:10]

In [ ]:
genre_iter = (set(x.split('|')) for x in movies.genres)
genres = sorted(set.union(*genre_iter))
dummies = DataFrame(np.zeros((len(movies), len(genres))), columns=genres)
dummies[:10]
for i, gen in enumerate(movies.genres):
    dummies.ix[i, gen.split('|')] = 1
dummies[:10]

In [ ]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.ix[0]

## 字符串操作

### 字符串对象方法

### 正则表达式

In [ ]:
import re
text = 'foo bar\t baz \tqux'
re.split('\s+', text)

In [ ]:
regex = re.compile('\s+')

In [ ]:
regex.split(text)

In [ ]:
regex.findall(text)

In [ ]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall(text)

In [ ]:
m = regex.search(text)
m
text[m.start():m.end()]

In [ ]:
print regex.match(text)

In [ ]:
print regex.sub('REDACTED', text)

In [ ]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
m = regex.match('wesm@bright.net')
m.groups()

In [ ]:
regex.findall(text)

In [ ]:
print regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text)

### pandas中矢量化的字符串函数

In [ ]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com', 'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = Series(data)
data
data.index

In [ ]:
data.str.contains('gmail')

In [ ]:
pattern
data.str.findall(pattern, flags=re.IGNORECASE)

In [ ]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

In [ ]:
matches.str.get(1)

In [ ]:
data.str[:5]

In [ ]:
import json

In [ ]:
db = json.load(open('pydata-book/ch07/foods-2011-10-03.json'))

In [ ]:
len(db)

In [ ]:
db[0].keys()

In [ ]:
db[0]['nutrients'][0]

In [ ]:
nutrients = DataFrame(db[0]['nutrients'])

In [ ]:
nutrients[:7]

In [ ]:
info_keys = ['description', 'group', 'id', 'manufacturer']
info = DataFrame(db, columns=info_keys)
info[:5]

In [ ]:
pd.value_counts(info.group)[:10]

In [ ]:
nutrients = []
for rec in db:
    fnuts = DataFrame(rec['nutrients'])
    fnuts['id'] = rec['id']
    nutrients.append(fnuts)
nutrients = pd.concat(nutrients, ignore_index=True)
nutrients

In [ ]:
nutrients.duplicated().sum()

In [ ]:
nutrients = nutrients.drop_duplicates()

In [ ]:
col_mapping = {'descritpion': 'food', 'group': 'fgroup'}
info = info.rename(columns=col_mapping, copy=False)
info